version: "2.1"
volumes:
  resin-data:
  dev-user:
services:
  stormlight-archive:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - 'resin-data:/data'
      - 'dev-user:/home/stuarts'
    ports:
      - "22:22"
    privileged: true
    restart: always
    devices:
      - /dev:/dev
    group_add:
      - video
